 @charset "UTF-8";
 @import url('https://fonts.googleapis.com/css?family=Sarala:700');
 @import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html, body {
  margin: 0;
}

  *, *:before, *:after {
    box-sizing: border-box;
}

  .container{
    background: #383d52;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px,auto);
  }

  section {
    background: #383d52;
  }
  .photo{
    grid-area: 1 / 1 / 6 / 4;

  }

  .text{
    grid-area: 1 / 5 / 6 / 9;
  }
    #ari{
      width: 100%;
      float: left;
      display: block;
      
    }

    h1{
      font-family: 'Sarala', sans-serif;
      color: antiquewhite;
      font-size: 9em;
      float: center;
    }

    p{
      font-family: 'Amatic SC', cursive;
      color: antiquewhite;
      font-size: 3em;
      float: center;
    }





 @-ms-viewport{
     width: device-width;
     
 }
 
 /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .container{
      background: #9D8ABB;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: minmax(150px,auto);
    }
  
    section {
      background: #9D8ABB;
    }
    .photo{
      grid-area: 1 / 1 / 3 / 4;
  
    }
  
    .text{
      grid-area: 3 / 1 / 4 / 5;
      line-height: 1em;
    }
      #ari{
        width: 100%;
        float: left;
        display: block;
        
      }
  
      h1{
        font-family: 'Sarala', sans-serif;
        color: antiquewhite;
        font-size: 4em;
        float: center;
        padding: 0.4em;
      }
  
      p{
        font-family: 'Amatic SC', cursive;
        color: antiquewhite;
        font-size: 2.6em;
        float: center;
        padding: 0.5em;
      }

    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container{
      background: #A5616F;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: minmax(150px,auto);
    }
  
    section {
      background: #A5616F;
    }
    .photo{
      grid-area: 1 / 1 / 2 / 3;
  
    }
  
    .text{
      grid-area: 1 / 3 / 3 / 3;
      line-height: 3rem;
    }
      #ari{
        width: 100%;
        float: left;
        display: block;
        
      }
  
      h1{
        font-family: 'Sarala', sans-serif;
        color: antiquewhite;
        font-size: 3.3em;
        float: center;
        padding: 0.5em;
      }
  
      p{
        font-family: 'Amatic SC', cursive;
        color: antiquewhite;
        font-size: 3em;
        float: center;
        padding: 0.5em;
      }
    

    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .container{
      background: #65B4B6;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: minmax(150px,auto);
    }
  
    section {
      background: #65B4B6;
    }
    .photo{
      grid-area: 1 / 2 / 2 / 3;
  
    }
  
    .text{
      grid-area: 1 / 1 / 1 / 2;
      line-height: 3rem;
    }
      #ari{
        width: 110%;
        float: center;
        display: block;
        align-content: flex-start;
        
      }
  
      h1{
        font-family: 'Sarala', sans-serif;
        color: antiquewhite;
        font-size: 3em;
        float: center;
        padding: 0.5em;
      }
  
      p{
        font-family: 'Amatic SC', cursive;
        color: antiquewhite;
        font-size: 2em;
        float: center;
        padding: 0.5em;
      }
    
    

    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .container{
      background: #E5A491;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: minmax(150px,auto);
    }
  
    section {
      background: #E5A491;
    }
    .photo{
      grid-area: 2 / 1 / 4 / 3;
  
    }
  
    .text{
      grid-area: 1 / 1 / 1 / 3;
      line-height: 3rem;
    }
      #ari{
        width: 110%;
        float: center;
        display: block;
        align-content: flex-start;
        
      }
  
      h1{
        font-family: 'Sarala', sans-serif;
        color: antiquewhite;
        font-size: 3em;
        float: center;
        padding: 0.5em;
      }
  
      p{
        font-family: 'Amatic SC', cursive;
        color: antiquewhite;
        font-size: 2em;
        float: center;
        padding: 0.5em;
      }
    
    
    

    
  }